#line-chart {
	height:300px;
	width:800px;
	margin: 0px auto;
	margin-top: 1em;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
	color: #fff;
}
.truncate {white-space: nowrap; overflow: hidden; text-overflow: ellipsis}